[submodule "Quantum/Vendor/yaml-cpp"]
	path = Quantum/Vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "Quantum/Vendor/glfw"]
	path = Quantum/Vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Quantum/Vendor/glm"]
	path = Quantum/Vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Quantum/Vendor/stb"]
	path = Quantum/Vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "Quantum/Vendor/assimp"]
	path = Quantum/Vendor/assimp
	url = https://github.com/assimp/assimp.git
